@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.sec1{
    width: 100%;
    height: 200vh;
    background-image: url(/category\ photos/cat2-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar{
    display: flex;
    width: 70%;
    height: 10vh;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-left: 15%;
    padding-top: 1%;
    background-color: rgba(39, 39, 39, 0.8);
}
.navbar a{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    padding: 10px 16px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #25252a;
    transition: ease-out 1s;
    outline: none;
    background-color: rgb(225, 0, 68);
    color: #fff;
    border: none;
}
.navbar a:hover{
    box-shadow: inset 150px 0 0 0 #25252a;
    cursor: pointer;
}

.sec1 .sales{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 160vh;
    background-color: whitesmoke;
    padding-top: 2%;
    margin-top: 5%;
}
.first .item1{
    height: 74vh;
    width: 300px;

}
.first .item1 .pic1{
    background-image: url(/category\ photos/AF1.jpg);
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
}
.first .item1 .cont1{
    padding-top: 50px;
    line-height: 30px;
    border-bottom: 2px solid black;
}
.first .item2{
    height: 74vh;
    width: 300px;
    margin-top: 10%;
} 
.first .item2 .pic2{
    background-image: url(/category\ photos/j4.jpg);
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
}
.first .item2 .cont2{
    padding-top: 50px;
    line-height: 30px;
    border-bottom: 2px solid black;
}

.second .item1{
    height: 74vh;
    width: 300px;
    
}
.second .item1 .pic1{
    background-image: url(/category\ photos/sun.jpg);
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
}
.second .item1 .cont1{
    padding-top: 50px;
    line-height: 30px;
    border-bottom: 2px solid black;
}

.second .item2{
    height: 74vh;
    width: 300px;
    margin-top: 10%;
}
.second .item2 .pic2{
    background-image: url(/category\ photos/birkin.jpg);
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
}
.second .item2 .cont2{
    padding-top: 50px;
    line-height: 30px;
    border-bottom: 2px solid black;
}

.third .item1{
    height: 74vh;
    width: 300px;
}
.third .item1 .pic1{
    background-image: url(/category\ photos/lv.png);
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
}
.third .item1 .cont1{
    padding-top: 50px;
    line-height: 30px;
    border-bottom: 2px solid black;
}

.third .item2{
    height: 74vh;
    width: 300px;
    margin-top: 10%;
}
.third .item2 .pic2{
    background-image: url(/category\ photos/sweat.jpg);
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
}
.third .item2 .cont2{
    padding-top: 50px;
    line-height: 30px;
    border-bottom: 2px solid black;
}
.sec2{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
}
.sec2 .word{
    display: flex;
    justify-content: space-evenly
    ;
}
.word .word1{
    font-weight: bolder;
    font-size: 40px;
    width: 45%;
}
.word .word2{
    padding-top: 50px;
    color: grey;
    width: 45%;
}
.word .word2 p{
    float: right;
}
.sec2 .imag{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
}
.imag .imag1{
    background-image: url(/category\ photos/dark.jpg);
    height: 100%;
    background-size: cover;
    width: 45%;
}
.imag .imag2{
    background-image: url(/category\ photos/dark2.jpg);
    height: 100%;
    background-size: cover;
    width: 45%;
}

.sec3{
    height: 50vh;
    width: 80%;
    margin-left: 10%;
    top: 100px;
    position: relative;
    background-color: black;
}
.footer{
    height: 70vh;
    background-color: #111;
}
.footernote{
    top:100px;
    position: relative;

}
.flexbox{
    margin-top: 50px;
    color: #fff;
    display: flex;
    top: 10px;
    width: 100%;
    justify-content: space-evenly;
    position: relative;
}
.flexbox ul .bold{
    color: #fff;
    font-weight: 900;
    margin-bottom: 20px;
}
.flexbox ul li{
    margin: 10px 0px;
    font-weight: lighter;
    color: grey;
}
.flexbox ul{
    list-style-type: none;
}
.footernote .copy{
    color: lightgray;
    font-size: 10px;
    margin-left: 45%;
    margin-top: 10px;
}
.footernote .fantasy{
    color: orangered;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
